<ion-header>
  <ion-navbar>
    <ion-title>
      Program Irwan
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <div *ngFor="let menu of menus">
      <div ion-item class="item-stable">
        <div (click)="toggleGroup(menu)"> {{menu.name}}</div>
        <expandable [expandHeight]="itemExpandHeight * menu.subMenu.length" [expanded]="menu.expanded">
          <button (click)="gotoPage()" *ngFor='let subMenus of menu.subMenu' ion-item>
            &nbsp;{{subMenus}}
          </button>
        </expandable>
      </div>
    </div>
  </ion-list>
</ion-content>